<nav class="app-sidebar">
  <ul class="menu-list">
    @for (item of menuItems(); track item.label) {
      <li class="menu-item" [class.has-children]="item.children">

        @if (!item.children) {
          @if (item.disabled) {
            <span class="menu-link disabled">
              <i [class]="item.icon"></i>
              <span>{{ item.label }}</span>
            </span>
          } @else {
            <a
              class="menu-link"
              [routerLink]="item.route"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="layout.close()"
            >
              <i [class]="item.icon"></i>
              <span>{{ item.label }}</span>
            </a>
          }
        }

        @if (item.children) {
          <button
            class="menu-link menu-toggle"
            [class.open]="item.expanded"
            (click)="toggleMenu(item)"
          >
            <i [class]="item.icon"></i>
            <span>{{ item.label }}</span>
            <i class="pi pi-chevron-down chevron" [class.rotated]="item.expanded"></i>
          </button>

          @if (item.expanded) {
            <ul class="submenu-list">
              @for (child of item.children; track child.label) {
                <li class="submenu-item">
                  @if (child.disabled) {
                    <span class="submenu-link disabled">
                      <i [class]="child.icon"></i>
                      <span>{{ child.label }}</span>
                    </span>
                  } @else {
                    <a
                      class="submenu-link"
                      [routerLink]="child.route"
                      routerLinkActive="active"
                      [routerLinkActiveOptions]="{ exact: true }"
                      (click)="layout.close()"
                    >
                      <i [class]="child.icon"></i>
                      <span>{{ child.label }}</span>
                    </a>
                  }
                </li>
              }
            </ul>
          }
        }

      </li>
    }
  </ul>
</nav>
